<div uuid="{{ uuid }}" class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">living room light</h3></div>
    <div class="panel-body">
        <div class="list-group">
            <ul class="list-group">
                <li class="list-group-item">{{online_str}}</li>
                <li class="list-group-item">switch 1 current status: {{status_1_str}}</li>
                <li class="list-group-item">switch 2 current status: {{status_2_str}}</li>
            </ul>
            {% if display_control %}
            <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
                <div class="btn-group" role="group"><button type="button" class="btn btn-default on-button-1">turn on switch 1</button></div>
                <div class="btn-group" role="group"><button type="button" class="btn btn-default off-button-1">turn off switch 1</button></div>
            </div>
            <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
                <div class="btn-group" role="group"><button type="button" class="btn btn-default on-button-2">turn on switch 2</button></div>
                <div class="btn-group" role="group"><button type="button" class="btn btn-default off-button-2">turn off switch 2</button></div>
            </div>
            {% module CommonButtonHandlerUI() %}
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    attach_common_button_handler($('[uuid="{{uuid}}"] .on-button-1'), '{"command": "on", "target": 1}', '{{uuid}}');
                    attach_common_button_handler($('[uuid="{{uuid}}"] .on-button-2'), '{"command": "on", "target": 2}', '{{uuid}}');
                    attach_common_button_handler($('[uuid="{{uuid}}"] .off-button-1'), '{"command": "off", "target": 1}', '{{uuid}}');
                    attach_common_button_handler($('[uuid="{{uuid}}"] .off-button-2'), '{"command": "off", "target": 2}', '{{uuid}}');
                }, false);
            </script>
            {% end %}
        </div>
    </div>
</div>